{:architecture "amd64"
 :args "-x"
 :branch "master"
 :cmd "bash -x /tmp/hudson6631718605240508845.sh"
 :cmd-source "#!/usr/local/bin/runbld\n~drew/bin/lein test"
 :commit "035884f2b946d9349130a32d547c6dea76f7f8b7"
 :commit-desc "Display ES error before assertion triggers"
 :commit-email "drew@raines.me"
 :commit-msg "Display ES error before assertion triggers\n"
 :commit-name "Drew Raines"
 :commit-time "2015-11-12T16:57:27.000Z"
 :cwd
 "/h/jenkins/workspace/20151112180159-984b445c4c23407584a624ce27f3d61c-elastic-runbld-master"
 :end-millis 1447351345924
 :env
 {"HOME" "/home/drew"
  "USER" "drew"
  "EXECUTOR_NUMBER" "1"
  "JOB_URL" "http://localhost:8080/job/elastic,runbld,master/"
  "SHELL" "/usr/bin/zsh"
  "NODE_NAME" "hotel"
  "JENKINS_URL" "http://localhost:8080/"
  "PATH"
  "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
  "BUILD_ID" "54"
  "BUILD_NUMBER" "54"
  "BUILD_URL" "http://localhost:8080/job/elastic,runbld,master/54/"
  "JOB_NAME" "elastic,runbld,master"
  "PWD" "/h/jenkins/workspace/elastic,runbld,master"
  "WORKSPACE" "/h/jenkins/workspace/elastic,runbld,master"
  "NODE_LABELS" "hotel server"
  "HUDSON_URL" "http://localhost:8080/"
  "LANG" "en_US.UTF-8"
  "OS" "Linux"
  "BUILD_DISPLAY_NAME" "#54"
  "BUILD_TAG" "jenkins-elastic,runbld,master-54"}
 :exit-code 0
 :github-name "elastic/runbld#master"
 :github-page "https://github.com/elastic/runbld/tree/master"
 :hardwaremodel "x86_64"
 :hostname "hotel"
 :id "20151112180159-984b445c4c23407584a624ce27f3d61c"
 :ipaddress "10.0.1.200"
 :ipaddress6 "2601:480:8400:e7:9906:8c50:187e:f37f"
 :jenkins-executor "1"
 :jenkins-labels "hotel server"
 :jenkins-node "hotel"
 :jenkins-number "54"
 :job-name "elastic,runbld,master"
 :job-name-extra ""
 :kernelrelease "3.19.0-32-generic"
 :kernelversion "3.19.0"
 :mail-from "build@elastic.co"
 :memorysize_mb "32009.20"
 :operatingsystem "Ubuntu"
 :org "elastic"
 :physicalprocessorcount 1
 :processor0 "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz"
 :processorcount 8
 :profile-name "elastic-runbld-master"
 :program "bash"
 :project "runbld"
 :rcpt-to "drew+build-runbld@elastic.co"
 :scriptfile "/tmp/hudson6631718605240508845.sh"
 :start-millis 1447351320295
 :status "SUCCESS"
 :time-end "2015-11-12T18:02:25.924Z"
 :time-start "2015-11-12T18:02:00.295Z"
 :timezone "CST"
 :took 25629
 :took-human "25s"
 :uptime_days 5
 :url "http://localhost:8080/job/elastic,runbld,master/54/"
 :workspace
 "/h/jenkins/workspace/20151112180159-984b445c4c23407584a624ce27f3d61c-elastic-runbld-master"}
