{:architecture "amd64",
 :args "-x",
 :branch "master",
 :branch-url "https://github.com/elastic/runbld/tree/master",
 :build-name "elastic/runbld#master",
 :cmd "bash -x /tmp/hudson7779194548286067323.sh",
 :cmd-source "#!/usr/local/bin/runbld\n~drew/bin/lein test\n",
 :commit "30d064e6345d23bcec7c30ae776d287f0534b839",
 :commit-desc "Merge branch 'output-truncated'",
 :commit-email "drew@raines.me",
 :commit-msg "Merge branch 'output-truncated'\n",
 :commit-name "Drew Raines",
 :commit-time "2015-11-13T20:23:58.000Z",
 :commit-url
 "https://github.com/elastic/runbld/commit/30d064e6345d23bcec7c30ae776d287f0534b839",
 :cwd
 "/h/jenkins/workspace/20151113203649-84239699509b4631a9fd71f606e566b5-elastic-runbld-master",
 :end-millis 1447447037778,
 :env
 {
  "BUILD_DISPLAY_NAME" "#12",
  "BUILD_ID" "12",
  "BUILD_NUMBER" "12",
  "BUILD_TAG" "jenkins-elastic,runbld,master,desktop-12"
  "BUILD_URL" "http://localhost:8080/job/elastic,runbld,master,desktop/12/",
  "EXECUTOR_NUMBER" "1",
  "HOME" "/home/drew",
  "HUDSON_COOKIE" "e73f0c39-83f6-44b6-8cdb-4802af5ddc0d",
  "HUDSON_HOME" "/Users/drew/.jenkins",
  "HUDSON_SERVER_COOKIE" "fb9c3aa3a9207899",
  "HUDSON_URL" "http://localhost:8080/",
  "JENKINS_HOME" "/Users/drew/.jenkins",
  "JENKINS_SERVER_COOKIE" "fb9c3aa3a9207899",
  "JENKINS_URL" "http://localhost:8080/",
  "JOB_NAME" "elastic,runbld,master,desktop",
  "JOB_URL" "http://localhost:8080/job/elastic,runbld,master,desktop/",
  "LANG" "en_US.UTF-8",
  "NODE_LABELS" "hotel server",
  "NODE_NAME" "hotel",
  "OS" "Linux",
  "PATH" "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games",
  "PWD" "/h/jenkins/workspace/elastic,runbld,master,desktop",
  "SHELL" "/usr/bin/zsh",
  "USER" "drew",
  "WORKSPACE" "/h/jenkins/workspace/elastic,runbld,master,desktop",
  },
 :err-bytes 494,
 :err-file
 "/h/jenkins/workspace/20151113203649-84239699509b4631a9fd71f606e566b5-elastic-runbld-master/.stderr.log",
 :exit-code 0,
 :hardwaremodel "x86_64",
 :hostname "hotel",
 :id "20151113203649-84239699509b4631a9fd71f606e566b5",
 :ipaddress "10.0.1.200",
 :ipaddress6 "2601:480:8400:e7:9906:8c50:187e:f37f",
 :jenkins-executor "1",
 :jenkins-labels "hotel server",
 :jenkins-node "hotel",
 :jenkins-number "12",
 :job-name "elastic,runbld,master,desktop",
 :job-name-extra "desktop",
 :kernelrelease "3.19.0-32-generic",
 :kernelversion "3.19.0",
 :mail-from "build@elastic.co",
 :memorysize_mb "32009.20",
 :operatingsystem "Ubuntu",
 :operatingsystemrelease "15.04",
 :org "elastic",
 :out-bytes 409,
 :out-file
 "/h/jenkins/workspace/20151113203649-84239699509b4631a9fd71f606e566b5-elastic-runbld-master/.stdout.log",
 :physicalprocessorcount 1,
 :processor0 "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz",
 :processorcount 8,
 :profile-name "elastic-runbld-master",
 :program "bash",
 :project "runbld",
 :project-url "https://github.com/elastic/runbld",
 :rcpt-to "drew+build-runbld@elastic.co",
 :scriptfile "/tmp/hudson7779194548286067323.sh",
 :start-millis 1447447009697,
 :status "SUCCESS",
 :stderr
 "+ /home/drew/bin/lein test\nCompiling runbld.build\nCompiling runbld.env\nCompiling runbld.main\nCompiling runbld.opts\nCompiling runbld.process\nCompiling runbld.publish\nCompiling runbld.publish.elasticsearch\nCompiling runbld.publish.email\nCompiling runbld.util.data\nCompiling runbld.util.date\nCompiling runbld.util.io\nCompiling runbld.vcs.git\nCompiling runbld.version\n+ exit 0\n+ exit 0\n+ exit 1\ndone\n+ bash -e this-is-a-test-repo.sh\n+ bash -e this-is-a-test-repo.sh\n+ bash -e this-is-a-test-repo.sh\n",
 :stdout
 "\nlein test runbld.test.build-test\n\nlein test runbld.test.email-test\n\nlein test runbld.test.main-test\n\nlein test runbld.test.opts-test\n\nlein test runbld.test.process-test\n\nlein test runbld.test.publish-test\nthis would have been a test build --->here<---\nthis would have been a test build --->here<---\nthis would have been a test build --->here<---\n\nRan 10 tests containing 24 assertions.\n0 failures, 0 errors.\n",
 :time-end "2015-11-13T20:37:17.778Z",
 :time-start "2015-11-13T20:36:49.697Z",
 :timezone "CST",
 :took 28081,
 :took-human "28s",
 :uptime_days 6,
 :url "http://localhost:8080/job/elastic,runbld,master,desktop/12/",
 :workspace
 "/h/jenkins/workspace/20151113203649-84239699509b4631a9fd71f606e566b5-elastic-runbld-master"}
