{:architecture "x86_64",
 :args "-x",
 :branch "master",
 :branch-url "https://github.com/elastic/runbld/tree/master",
 :build-name "elastic/runbld#master",
 :cmd
 "bash -x /private/var/folders/2n/4k8wl8bx2h9_2ys5cg4jbsp00000gn/T/hudson465451482901788099.sh",
 :cmd-source
 "#!/Users/aar/src/elastic/runbld/target/runbld-1.0.0-SNAPSHOT\nexit 1",
 :commit "035884f2b946d9349130a32d547c6dea76f7f8b7",
 :commit-desc "Display ES error before assertion triggers",
 :commit-email "drew@raines.me",
 :commit-msg "Display ES error before assertion triggers\n",
 :commit-name "Drew Raines",
 :commit-time "2015-11-12T16:57:27.000Z",
 :commit-url
 "https://github.com/elastic/runbld/commit/035884f2b946d9349130a32d547c6dea76f7f8b7",
 :cwd
 "20151112203849-e2b9c765a25b4cbcbf0b42b927085a1a-elastic-runbld-master",
 :end-millis 1447360731236,
 :env
 {"EXECUTOR_NUMBER" "0",
  "JOB_URL" "http://localhost:8080/job/elastic,runbld,master,laptop/",
  "SHELL" "/opt/local/bin/zsh",
  "NODE_NAME" "local",
  "JENKINS_URL" "http://localhost:8080/",
  "PATH"
  "/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/usr/local/MacGPG2/bin",
  "BUILD_ID" "64",
  "JAVA_HOME"
  "/Library/Java/JavaVirtualMachines/jdk1.8.0.jdk/Contents/Home",
  "BUILD_NUMBER" "64",
  "BUILD_URL"
  "http://localhost:8080/job/elastic,runbld,master,laptop/64/",
  "JOB_NAME" "elastic,runbld,master,laptop",
},
 :exit-code 1,
 :hardwaremodel "x86_64",
 :hostname "iota",
 :id "20151112203849-e2b9c765a25b4cbcbf0b42b927085a1a",
 :ipaddress "10.0.0.19",
 :ipaddress6 "2601:480:8402:a03e:8638:35ff:fe4f:6020",
 :jenkins-executor "0",
 :jenkins-labels "local",
 :jenkins-node "local",
 :jenkins-number "64",
 :job-name "elastic,runbld,master,laptop",
 :job-name-extra "laptop",
 :kernelrelease "14.5.0",
 :kernelversion "14.5.0",
 :mail-from "build@elastic.co",
 :memorysize_mb "8192.00",
 :operatingsystem "Darwin",
 :operatingsystemrelease "14.5.0",
 :org "elastic",
 :processorcount "4",
 :profile-name "elastic-runbld-master",
 :program "bash",
 :project "runbld",
 :rcpt-to "drew+build-test@elastic.co",
 :scriptfile
 "/var/folders/2n/4k8wl8bx2h9_2ys5cg4jbsp00000gn/T/hudson465451482901788099.sh",
 :start-millis 1447360731230,
 :status "FAILURE",
 :stdout "this is the output"
 :stderr "this is the errput"
 :time-end "2015-11-12T20:38:51.236Z",
 :time-start "2015-11-12T20:38:51.230Z",
 :timezone "CST",
 :took 6,
 :took-human "0s",
 :uptime_days 68,
 :url "http://localhost:8080/job/elastic,runbld,master,laptop/64/",
 :workspace
 "20151112203849-e2b9c765a25b4cbcbf0b42b927085a1a-elastic-runbld-master"}
