{:rubysitedir "/usr/local/lib/site_ruby/2.1.0",
 :lsbdistdescription "Ubuntu 15.04",
 :hostname "hotel",
 :uptime_days 15,
 :kernel "Linux",
 :ipaddress6 "2601:480:8704:57cd:bc34:c5f:e3f6:6d2b",
 :uptime_seconds 1319007,
 :kernelmajversion "3.19",
 :network_eth0 "10.0.1.0",
 :network_lo "127.0.0.0",
 :network_lxcbr0 "10.0.3.0",
 :interfaces
 "eth0,lo,lxcbr0,vboxnet0,vboxnet1,vboxnet2,vboxnet3,wlan0",
 :ipaddress_eth0 "10.0.1.200",
 :ipaddress6_eth0 "2601:480:8704:57cd:717c:4c4a:7d6a:7225",
 :macaddress_eth0 "74:d4:35:e6:29:75",
 :netmask_eth0 "255.255.255.0",
 :mtu_eth0 1500,
 :ipaddress_lo "127.0.0.1",
 :netmask_lo "255.0.0.0",
 :mtu_lo 65536,
 :ipaddress_lxcbr0 "10.0.3.1",
 :macaddress_lxcbr0 "da:aa:2d:bd:49:66",
 :netmask_lxcbr0 "255.255.255.0",
 :mtu_lxcbr0 1500,
 :macaddress_vboxnet0 "0a:00:27:00:00:00",
 :mtu_vboxnet0 1500,
 :macaddress_vboxnet1 "0a:00:27:00:00:01",
 :mtu_vboxnet1 1500,
 :macaddress_vboxnet2 "0a:00:27:00:00:02",
 :mtu_vboxnet2 1500,
 :macaddress_vboxnet3 "0a:00:27:00:00:03",
 :mtu_vboxnet3 1500,
 :macaddress_wlan0 "00:e0:4c:c2:a5:b2",
 :mtu_wlan0 1500,
 :lsbmajdistrelease "15.04",
 :virtual "physical",
 :is_virtual false,
 :hardwareisa "x86_64",
 :memorysize "31.26 GB",
 :memoryfree "17.67 GB",
 :swapsize "3.00 GB",
 :swapfree "2.99 GB",
 :swapsize_mb "3072.00",
 :swapfree_mb "3063.77",
 :memorysize_mb "32009.20",
 :memoryfree_mb "18093.04",
 :operatingsystemrelease "15.04",
 :uptime "15 days",
 :selinux false,
 :macaddress "74:d4:35:e6:29:75",
 :processors
 {:models
  ("Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz"
   "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz"
   "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz"
   "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz"
   "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz"
   "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz"
   "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz"
   "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz"),
  :count 8,
  :physicalcount 1},
 :architecture "amd64",
 :hardwaremodel "x86_64",
 :operatingsystem "Ubuntu",
 :os
 {:name "Ubuntu",
  :family "Debian",
  :release {:major "15.04", :full "15.04"},
  :lsb
  {:distcodename "vivid",
   :distid "Ubuntu",
   :distdescription "Ubuntu 15.04",
   :distrelease "15.04",
   :majdistrelease "15.04"}},
 :processor0 "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz",
 :processor1 "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz",
 :processor2 "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz",
 :processor3 "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz",
 :processor4 "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz",
 :processor5 "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz",
 :processor6 "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz",
 :processor7 "Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz",
 :processorcount 8,
 :operatingsystemmajrelease "15.04",
 :rubyversion "2.1.2",
 :netmask "255.255.255.0",
 :fqdn "foo.example.com",
 :puppetversion "3.7.5",
 :id "test",
 :lsbdistrelease "15.04",
 :kernelversion "3.19.0",
 :ipaddress "10.0.1.200",
 :domain "local",
 :timezone "CST",
 :filesystems "ext2,ext3,ext4,vfat,xfs",
 :ps "ps -ef",
 :system_uptime
 {:seconds 1319007, :hours 366, :days 15, :uptime "15 days"},
 :gid "test",
 :dhcp_servers {:system "10.0.1.1", :eth0 "10.0.1.1"},
 :rubyplatform "x86_64-linux-gnu",
 :partitions
 {:sdb1
  {:uuid "1227360e-7740-4768-a1ef-969f080a9b70",
   :size "460800",
   :mount "/boot"},
  :sdb2
  {:uuid "93776830-f56b-4ef1-a9d8-1861f630dcc8", :size "6291456"},
  :sdb3
  {:uuid "4c8cbf74-90f7-4ff7-a68b-eea6cd4abe0d",
   :size "23435264",
   :mount "/"},
  :sdb4 {:size "2"},
  :sdb5 {:size "469925888"},
  :sdc1
  {:uuid "ca8b88c6-072e-4573-8995-fcdf0f26b73c",
   :size "1953523120",
   :mount "/h"}},
 :blockdevice_sda_size 240057409536,
 :blockdevice_sda_vendor "ATA",
 :blockdevice_sda_model "KINGSTON SH103S3",
 :blockdevice_sdb_size 256060514304,
 :blockdevice_sdb_vendor "ATA",
 :blockdevice_sdb_model "SanDisk SDSSDHP2",
 :blockdevice_sdc_size 1000204886016,
 :blockdevice_sdc_vendor "ATA",
 :blockdevice_sdc_model "WDC WD1000DHTZ-0",
 :blockdevices "sda,sdb,sdc",
 :augeasversion "1.3.0",
 :lsbdistid "Ubuntu",
 :kernelrelease "3.19.0-33-generic",
 :lsbdistcodename "vivid",
 :osfamily "Debian",
 :physicalprocessorcount 1,
 :uniqueid "000ac801",
 :facterversion "2.4.3",
 :uptime_hours 366}
