/target/
/classes
/checkouts
/pom.xml
/pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/tmp
/resources/build.txt
.stderr.log
.stdout.log
/envg*
*.pyc
/test.log
/.cider-history
/test/elasticsearch-src
maven-status/
com.example.AppTest.txt
