<html>
<body style="font-family:helvetica;font-size:1.1em">
<h1>{{ process.status }}</h1>
<h2><code><a href="{{vcs.project-url}}">{{ build.org }}/{{ build.project }}</a><br/>
<a href="{{vcs.branch-url}}">{{ build.branch }}</a></code></h2>
<table>
<tr><td>Log</td><td>{{ build.console-url }}</td></tr>
<tr><td>Duration</td><td>{{ process.took-human }} ({{ process.took }}ms)</td></tr>
<tr><td>Started</td><td>{{ process.time-start }}</td></tr>
<tr><td>Ended</td><td>{{ process.time-end }}</td></tr>
<tr><td>Host</td><td><code>{{ sys.hostname }} (up {{ sys.uptime }})</code></td></tr>
<tr><td>OS</td><td><code>{{ sys.os }} {{ sys.os-version }}, {{ sys.kernel-name }} {{ sys.kernel-release }}</code></td></tr>
<tr><td>Specs</td><td><code>{{ sys.cpus }} CPUs, {{ sys.ram-gb }}GB RAM</code></td></tr>
</table>
<p></p>
<div style="background-color:#eec;padding:1px 15px">
<pre>branch <a href="{{vcs.branch-url}}">{{ build.branch }}</a>
commit <a href="{{vcs.commit-url}}">{{ vcs.commit-id }}</a>
Author: {{ vcs.author-name }} &lt;{{ vcs.author-email }}&gt;
Date: {{ vcs.commit-time }}

{{ vcs.message }}</pre>
</div>

<h3>BUILD (<a href="{{ build.console-url }}">log</a>)</h3>
<p><code>Exited: {{ process.exit-code }}</code></p>
<div style="background-color:#cee;padding:1px 15px">
<pre>{{ process.cmd-source }}</pre>
</div>

{{#test}}
<h3>SUMMARY</h3>
<table>
<tr><td>Tests RUN</td><td>{{ test.tests }}</td></tr>
<tr><td>Tests FAILED</td><td>{{ test.failures }}</td></tr>
<tr><td>Tests with ERRORs</td><td>{{ test.errors }}</td></tr>
<tr><td>Tests SKIPPED</td><td>{{ test.skipped }}</td></tr>
</table>

<ul>
{{#test.failed-testcases}}
<li>{{summary}}</li>
{{/test.failed-testcases}}
</ul>
{{/test}}

<!--
<h3>STDERR</h3>
<div style="background-color:#ece;padding:1px 15px">
<pre>{{ stderr }}</pre>
</div>

<h3>STDOUT</h3>
<div style="background-color:#cee;padding:1px 15px">
<pre>{{ build.console-url }}</pre>
</div>
-->

<p>
<code>{{ id }}</code><br />
<code>runbld-{{ version.string }}/{{ version.hash }}</code><br />
</p>

</body>
</html>
