<html>
<body style="font-family:helvetica;font-size:1.1em">
<h1>{{ status }}</h1>
<h2><code><a href="{{project-url}}">{{ org }}/{{ project }}</a><br/>
<a href="{{branch-url}}">{{ branch }}</a></code></h2>
<table>
<tr><td>Duration</td><td>{{ took-human }} ({{ took }}ms)</td></tr>
<tr><td>Started</td><td>{{ time-start }}</td></tr>
<tr><td>Ended</td><td>{{ time-end }}</td></tr>
<tr><td>Hostname</td><td><code>{{ hostname }} (up {{ uptime_days }} days)</code></td></tr>
<tr><td>Operating System</td><td><code>{{ operatingsystem }} {{ operatingsystemrelease }}</code></td></tr>
<tr><td>Architecture</td><td><code>{{ architecture }} ({{ processorcount }} core)</code></td></tr>
</table>
<p></p>
<div style="background-color:#eec;padding:1px 15px">
<pre>
branch <a href="{{branch-url}}">{{ branch }}</a>
commit <a href="{{commit-url}}">{{ commit }}</a>
Author: {{ commit-name }} &lt;{{ commit-email }}&gt;
Date: {{ commit-time }}

{{ commit-desc }}
</pre>
</div>

<p></p>
<div style="background-color:#cee;padding:1px 15px">
<pre>
Exit: {{ exit-code }}
{{ cmd }}

{{ cmd-source }}
</pre>
</div>

<p></p>
<div style="background-color:#cee;padding:1px 15px">
<pre>
{{ stdout }}
</pre>
</div>

<p></p>
<div style="background-color:#ece;padding:1px 15px">
<pre>
{{ stderr }}
</pre>
</div>
</body>
</html>
